fastapi==0.110.2
uvicorn==0.29.0
openai-whisper==20231117

# MoviePy e dependências de vídeo
moviepy==1.0.3
imageio==2.34.1
imageio-ffmpeg==0.4.9

# Upload de arquivos
python-multipart==0.0.9

# Substituto para sumy/nltk
spacy==3.7.4
